@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Inter', system-ui;
 color: #243e63;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px; /* Adds spacing between heading and features */
}

.container {
    padding: 96px 0;
}

.login {
    margin-left: 48px;
}

a {
    display: inline;
    text-decoration: none;
}

p {
    font-size: 18px;
    line-height: 1.5;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

img {
    width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

section {
    padding: 0 32px;
}

.section__title {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

main {
    margin-bottom: 96px;
}

.purple {
    color: #6415ff;
}

figure {
    unicode-bidi: isolate;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}



/* 

NAVBAR 

*/


nav {
    height: 100px;
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
}

.nav__logo--img {
    width: 40px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    list-style-type: none;
}

.nav__link {
    color: black;
    margin: 0px 24px;
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: 300ms;
}

.nav__link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #6415ff;
    position: absolute;
    bottom: -6px;
    left: 0;
    opacity: 0;
    transition: opacity 300ms ease;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__link:hover {
    color: #6415ff;
}

.nav__link--primary {
    color: rgb(255, 255, 255);
    line-height: 1.5;
    width: auto;
    margin: 2px 0px 0px;
    padding: 10px 32px;
    border-radius: 9999px;
    background: rgb(100, 21, 255);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    transition: 300ms;
}

.nav__link--primary::after {
    content: "";
    width: 0px;
    height: 0px;
}

button {
    appearance: auto;
    text-align: center;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

/* 

HEADER 

*/

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__email--btn {
    z-index: 2;
    height: calc(100% - 16px);
    width: 160px;
    background-color: rgb(100, 21, 255);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 16px;
    margin: 8px;
    border-radius: 500px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    transition: 300ms;
}

.header__customers--title {
    margin-top: 80px;
    color: rgb(160, 174, 192);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.header__img {
    width: 100%;
    max-width: 768px;
}

.header__img--wrapper {
    width: calc(58.3333%);
}

/* 

FEATURES ↓

*/


#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between; 
    align-items: flex-start; 
    max-width: 1200px; /* Keeps the section manageable */
    margin: 0 auto; /* Centers the container */
}

.feature__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f3f4f6; /* Adjust color */
}

.feature__img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(211.333px);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature {
    flex: 1 1 calc(33.33% - 40px);
    max-width: 350px;
    margin-bottom: 24px;
    text-align: center; 
}

.section__tag {
    text-align: center;
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

/* QUALITY WORK */

#quality .btn {
    margin-top: 32px;
}

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#quality .section__title, #values .section__title {
    line-height: 1.25;
}

.quality__description {
    max-width: 576px;
    margin-right: 64px;
}

.quality__description, .quality__img--wrapper {
    width: 50%;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}

.quality__img {
    z-index: 1;
}

.section__para {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms;
}

/* STEPS */

#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__img {
    z-index: 2;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__description, .steps__img--wrapper {
    width: 50%;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/* VALUES */

#values .section__title {
    margin-top: 16px;
    margin-bottom: 32px;
}

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__description {
    padding: 32px 64px 32px 0;
}

.values__description, .value__img {
    width: 50%;
}

.values__list {
    display: flex;
}

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}

.value__title {
    display: flex;
    align-items: center;
}

.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}

.value__img--wrapper {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value__img {
    width: 20px;
    height: 20px;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

#values .btn {
    margin-top: 48px;
}



@media (max-width: 640px) {
    .nav__logo {
        padding-bottom: 4px;
        margin: 8px 0px;
    }
}

@media (max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        flex: 1 1 100%; /* Full width for smaller screens */
    }
}

@media (max-width: 1024px) {
    .nav__links {
        display: none;
    }

    #features .section__title, #pricing .section__title {
        font-size: 48px;
    }
}

@media (max-width: 1280px) {
    .header__customers {
        padding-right: 64px;
    }
    .header__img {
        max-width: 512px;
    }
    .header__img--wrapper {
        display: flex;
        justify-content: flex-end;
    }
}